@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf");
}

*{
    font-family: Poppins;
}
body{
    background-color: #fff;
    min-height: 100vh;
    height: fit-content;
}